<mat-sidenav-container>
  <mat-sidenav mode="side" opened>
    <mat-nav-list>
      <a mat-list-item routerLink="/">
        <mat-icon matListItemIcon>dashboard</mat-icon>
        Dashboard
      </a>
      <a mat-list-item href="#">
        <mat-icon matListItemIcon>payments</mat-icon>
        Transactions
      </a>
      <a mat-list-item routerLink="/plans">
        <mat-icon matListItemIcon>format_list_bulletedf</mat-icon>
        Plans
      </a>
      <a mat-list-item href="#">
        <mat-icon matListItemIcon>wallet</mat-icon>
        Wallets
      </a>
      <a mat-list-item routerLink="/categories">
        <mat-icon matListItemIcon>category</mat-icon>
        Categories
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <span>SMTM</span>
    </mat-toolbar>
    <div id="main-container">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>