<button mat-fab color="accent" class="fab" (click)="openNewPlanForm()">
    <mat-icon>add</mat-icon>
</button>

<mat-action-list>
    <div mat-subheader>Current</div>
    <mat-list-item *ngFor="let entry of currentPlans$ | async">
        <mat-icon matListItemIcon>format_list_bulletedf</mat-icon>
        <div matListItemTitle>{{ entry.name }}</div>
        <div matListItemLine>{{ entry.period.start | date }} - {{ entry.period.end | date }}</div>
    </mat-list-item>
    <div mat-subheader>Upcoming</div>
    <mat-list-item *ngFor="let entry of upcomingPlans$ | async">
        <mat-icon matListItemIcon>format_list_bulletedf</mat-icon>
        <div matListItemTitle>{{ entry.name }}</div>
        <div matListItemLine>{{ entry.period.start | date }} - {{ entry.period.end | date }}</div>
    </mat-list-item>
    <div mat-subheader>Archived</div>
    <mat-list-item *ngFor="let entry of archivedPlans$ | async">
        <mat-icon matListItemIcon>format_list_bulletedf</mat-icon>
        <div matListItemTitle>{{ entry.name }}</div>
        <div matListItemLine>{{ entry.period.start | date }} - {{ entry.period.end | date }}</div>
    </mat-list-item>
</mat-action-list>